.root {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  width: max-content;
  margin: 0 auto;
}

.card {
  border-radius: 5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
}

.avatar {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 0 1rem;
}

.link {
  text-decoration: none;
  color: inherit;
  border-radius: 5rem;
}

.link:hover .title {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.link:active .card {
  background-color: var(--gray10);
}

.title {
  color: var(--color-text1);
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-size: 1.22rem;
}

.login {
  padding: 0;
  margin: 0;
  color: var(--color-text2);
}
