.repos_item {
  flex: 0 0 auto; /* Prevent flex items from overflowing */
  min-width: 20rem;

  background-color: var(--gray10);

  border-radius: 1.5rem;
  border: 1px solid var(--gray30);

  display: flex;
  flex-direction: column;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.repos_item_link {
  height: 100%;
}

.repos_item:hover {
  background-color: var(--gray30);
}

.repo_info_line {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.repo_info_line_label {
  font-weight: 600;
}

.desc {
  font-style: italic;
}

.repo_image {
  width: 100%;
  object-fit: contain;
  margin: 0;
  padding: 0;
}

.repo_info {
  padding: var(--m-xl);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--gray90);
}

.repo_name {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  color: white;
}

.repo_links {
  display: flex;
  justify-content: space-between;

  justify-self: flex-end;
  font-size: 0.8rem;
}

.repo_link {
  padding: var(--m-xs);

  text-align: center;
  width: 50%;

  border: 1px solid var(--gray50);
  border-left: none;
  border-bottom: none;
  background-color: var(--gray30);
}

.repo_link:not(:first-child) {
  border-right: none;
}

.repo_link:hover {
  text-decoration: underline;
  background-color: var(--gray50);
}

@media (hover: none) {
  .repo_link:hover {
    text-decoration: none;
    background-color: var(--gray30);
  }

  .repos_item:hover {
    background-color: var(--gray10);
  }
}
