.root {
  padding: calc(var(--m-xxl) * 2) var(--m-xl);
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  border-top: 1px solid var(--gray50);
}

.link:hover {
  text-decoration: underline;
}

.social {
  display: flex;
  flex-direction: column;
  width: auto;
}

.link {
  padding: var(--m-m) var(--m-xs);
  translate: 0 calc(-1 * var(--m-m));
  color: white;
}
