/* .repos_list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.repos_item {
  display: flex;
  width: 100%;
}

.repos_item_link {
  padding: var(--m-s);
  width: 75%;
}

.repos_item_link:hover .repo_name {
  text-decoration: underline;
}

.repos_item_link:active {
  background-color: var(--gray30);
}

.repo_name {
  font-size: 1.5rem;
  margin-block: var(--m-s);
  padding: 0;
}

.paragraph {
  margin-block: var(--m-xs);
}

.desc {
  font-style: italic;
} */

.repos_list {
  list-style: none;
  display: flex;
  overflow-x: auto;
  gap: 2rem;
  padding: var(--m-xxl);

  /* Custom scrollbar */
  scrollbar-width: thin;
  scrollbar-color: var(--gray30) var(--gray10);
}

.repos_item {
  flex: 0 0 auto; /* Prevent flex items from overflowing */
  width: 25rem;

  background-color: var(--gray10);

  border-radius: 3rem;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.desc {
  font-style: italic;
}

.repo_image {
  width: 100%;
  object-fit: contain;
  margin: 0;
  padding: 0;
}

.repo_info {
  padding: var(--m-xl);
}
